[Desktop Entry]
Type=Application
Name=LXMusic simple music player
GenericName=Music Player
GenericName[en_GB]=Music Player
Comment=Play your music files easily
Comment[en_GB]=Play your music files easily
Categories=AudioVideo;Audio;Player;GTK;
Icon=lxmusic
Exec=lxmusic
Terminal=false
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/lxmusic.desktop
