[Desktop Entry]
Version=1.0
Name=Deluge
Name[en_GB]=Deluge
GenericName=BitTorrent Client
GenericName[en_GB]=BitTorrent Client
X-GNOME-FullName=Deluge BitTorrent Client
X-GNOME-FullName[en_GB]=Deluge BitTorrent Client
Comment=Download and share files over BitTorrent
Comment[en_GB]=Download and share files over BitTorrent
TryExec=deluge-gtk
Exec=deluge-gtk %U
Icon=deluge
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;GTK;
StartupWMClass=Deluge
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
X-XFCE-Source=file:///usr/share/applications/deluge.desktop
